* {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.AppPage {
  height: 100vh;
  width: 100%;
  background-color: #000000;
}

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  height: 110px;
  border-style: double;
  border-width: 7px;
  border-color: #FF073A;
}

.ToDoLogo {
  height: 50px;
  width: 50px;
}

.TitleName {
  font-weight: bolder;
  font-size: 1.6vw;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5)
}

.LeftContent {
  margin-left: 20px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.Button {
  height: 45px;
  width: 100px;
  font-weight: bolder;
  font-size: 15px;
  border-radius: 10px;
  border-width: 7px;
  border-style: double;
  border-color: #000000;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  background-color: #FFFFFF;
}

.RightContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  text-align: center;
  background-color: white;
  border-style: double;
  border-width: 15px;
  height: 650px;
  width: 650px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 600;

  .break-line {
    border-top: 5px solid black;
  }
}

.modal-heading {
  text-shadow: 0 0 10px #fec506;
  font-weight: 800;
}

.modal-inner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: auto;
  height: auto;
}

.inner-content-w-label {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-button {
  height: 50px;
  width: 120px;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 20px;
  border-width: 7px;
  border-style: double;
  border-color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #CFFF04;
}

.InputBox {
  height: 35px;
  width: 400px;
  border-radius: 20px;
  border-width: 7px;
  border-style: double;
  border-color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.InputLabel {
  font-weight: bolder;
  font-size: 20px;
}

.ErrorMessage {
  color: red;
}

.UserTag {
  height: 45px;
  width: auto;
  font-weight: bolder;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  border-radius: 10px;
  border-width: 7px;
  border-style: double;
  border-color: #000000;
  color: #000000;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  background-color: #CFFF04;
}

.TaskListDiv {
  width: 100%;
  height: auto;
}